<div id="main">
  <div id="primary">
    <div id="content">
      <% for(let item of articleList) {%>
        <article class="hentry">
        <header class="entry-header">
          <h1 class="entry-title"><a href="/<%= lang %>/article/<%= item.fileName %>" rel="bookmark"><%= item.title %></a></h1>
        <div class="entry-meta">
          <span class="sep"><%= locale('Date') + ': ' %></span><time class="entry-date"><%= item.date %></time>
        </div>
        </header>
        <div class="entry-content">
        <p><%= item.digest %>
        <a href="/<%= lang %>/article/<%= item.fileName %>" class="more-link"><%= locale('continue')%><span class="meta-nav"> &rarr;</span></a></p>
        </div>
        <footer class="entry-meta">
          <%= locale('category') + ': '%>

          <a href="/<%= lang %>/category/<%= item.category %>" rel="category tag"><%= locale(item.category) %></a>
        </footer>
        </article>
      <% }%>

      <div id="page-number">
        <ul>
          <li><a href="<%= pathExcludePage + prevPageNum %>"><span id="page-info">Page <%= curPageNum %> of <%= maxPageNum %></span><span id="page-left"><</span></a></li>
          <li><a href="<%= pathExcludePage + nextPageNum %>"><span id="page-right">></span></a></li>
        </ul>
      </div>

    </div>
  </div>

  <div id="secondary" class="widget-area" role="complementary">
    <aside class="widget">
      <h3 class="widget-title"> <%= locale('FORTUNE') %></h3>
      <div class="fortune">
        <p><%- fortune %></p>
      </div>
    </aside>

    <aside class="widget">
      <h3 class="widget-title"> <%= locale('RANDOM POST') %></h3>
      <ul>
        <% for (let item of randomArticleList) { %>
          <li> <a href="/<%= lang %>/article/<%= item.fileName %>" rel="bookmark"><%= item.title %></a>: <%= item.digest2 %>......</li>
        <% } %>
      </ul>
    </aside>

    <aside class="widget">
      <h3 class="widget-title"> <%= locale('TAG') %></h3>
      <div class="tag-cloud">
        <% for (let tag of tags) { %>
          <a href="https://www.google.com/search?q=site%3Awww.tiaoxingyubolang.com+<%= tag.word %>" rel="noopener" target="_blank" style="font-size: <%= tag.fontSize %>pt"><%= tag.word %></a>
        <% } %>
      </div>
    </aside>
  </div>
</div>
