<!DOCTYPE html>
<html lang="<%= lang %>">
  <%- include('component/head') %>
  <body class="custom-background">
    <a id="github-ribbon" href="https://github.com/derekchuank"><img width="64" height="64" src="/static/github.png" alt="Fork me on GitHub"></a>

    <div id="page">
      <header id="branding">
        <div id="hgroup">
          <h1 id="site-title"><a href="/<%= lang %>" rel="home"><%= locale("bars and waves", { locale }) %></a></h1>
          <h2 id="site-description"><%= locale("caprice blog", { locale }) %></h2>
        </div>
        <a href="/<%= lang %>">
          <img id="branding-img" src="/static/picture/header.jpg" alt="bars and waves" />
        </a>

        <nav id="access" role="navigation">
          <div class="menu-container">
            <ul id="menu-1" class="menu">
              <li class="normal-li"><a href="/<%= lang %>"><%= locale("LATEST") %></a></li>
              <li class="normal-li"><a href="/<%= lang %>/category/programming"><%= locale("PROGRAMMING") %></a></li>
              <li class="normal-li"><a href="/<%= lang %>/category/lifestyle"><%= locale("LIFESTYLE") %></a></li>
              <li class="normal-li"><a href="/<%= lang %>/category/still"><%= locale("STILL") %></a></li>
              <li class="normal-li"><a href="/<%= lang %>/category/webmaster-recommended"><%= locale("WEBMASTER RECOMMANDED") %></a></li>
              <li id="button-lang-zh"><a href="/zh<%= pathExcludeLang %>">中文</a></li>
              <li id="button-lang-en"><a href="/en<%= pathExcludeLang %>">English</a></li>
            </ul>
          </div>
        </nav>

      </header>

      <% if (pageType === 'digest') { %>
        <%- include('digest', { fortune, nextPageNum, prevPageNum, curPageNum, maxPageNum, articleList, locale, tags }) %>
      <% } %>
      <% if (pageType === 'detail') { %>
        <%- include('detail', { articleList, locale }) %>
      <% } %>

      <footer id="colophon" role="contentinfo">
        <div id="ad-1">
          <%- include('component/ad') %>
        </div>

        <div id="supplementary" class="two">
          <div id="first" class="widget-area" role="complementary">
            <aside class="widget"><div class="textwidget">
              <a href="https://github.com/derekchuank">github</a><br>
              email: derekchuank@outlook.com
            </div></aside>
          </div>
        </div>

        <div id="site-generator">
          <a href="/<%= lang %>" title="welcome to bars and waves" rel="generator">Power by Bars-and-waves </a>
          Copyright &copy; 2020-2025 Bars and waves. All Rights Reserved
          <a href="/sitemap.xml" title="sitemap">Sitemap</a>
        </div>
      </footer>
    </div>

    <div id="ad-right">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ad-display-right-1 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-6599838329486026"
           data-ad-slot="4101048188"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <%- include('component/script') %>
  </body>
</html>
